---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.svelte";
import Footer from "../components/Footer.svelte";
import { Image } from "@astrojs/image/components";
import About1 from "../images/about/about1.jpg";
import About2 from "../images/about/about2.jpg";
---

<Layout title="Introspection through Movement">
    <main>
        <Navbar />
        <section class="grid justify-items-center content-center gap-y-4 my-6">
            <h1 class="text-center custom_underline mx-4">About</h1>

            <p class="mx-8 max-w-3xl">
                Sushmitha is a yoga coach and wellness mentor with over a decade
                of study and five years of teaching experience under her belt.
                She honed her skills in this ancient art from an early age, and
                later formalised her training at the Kaivalyadhama Yoga
                Institute, one of the oldest and most renowned in the world
                alongside a degree in western philosophy and cognitive computing
                from the University of London. She is a 500HR (RYT) and 200HR
                (AYI) certified teacher, and now helps people of all backgrounds
                and abilities find joy through movement.
            </p>
            <div class="max-w-3xl">
                <Image
                    src={About1}
                    format="webp"
                    width={1000}
                    height={666.74}
                    alt="Sushmitha meditating on a mountain"
                />
            </div>
            <p class="mx-8 max-w-3xl">
                Travelling across the globe, Sushmitha has worked with athletes,
                senior executives, young professionals and underprivileged
                children alike. Sushmitha also runs a curated tech-enabled
                service called 'Introspection Through Movement' that helps
                create personalised wellness journeys and integrate Ashtanga
                into a balanced lifestyle of reflection and practice. She has
                been featured in national newspapers for her work. She has
                programs on major TV service providers like Tata Sky Fitness and
                Dish TV, and seeks to continue learning and sharing her love for
                yoga.
            </p>
            <div class="max-w-3xl">
                <Image
                    src={About2}
                    format="webp"
                    width={1000}
                    height={666.74}
                    alt="Sushmitha doing a yoga pose on a mountain"
                />
            </div>
        </section>
        <Footer />
    </main>
</Layout>

<style>

</style>
