---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.svelte";
import Capsule from "../components/Capsule.svelte";
import Box from "../components/Box.svelte";
import Button from "../components/Button.svelte";
import Footer from "../components/Footer.svelte";
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar />
		<section class="grid justify-items-center content-center gap-y-6 mx-4">
			<h1 class="text-center">Introspection Through Movement</h1>
			<p class="mx-4 text-center">
				Sutras in Motion : Ashtanga Yoga through the lens of Philosophy
				<br />&#127800;<br />
				Open invitation to anyone interested in learning how to levitate
				in lotus pose and elevate every aspect of their lives..
				<br />&#127800;<br />
				to join us on a 30 day journey to experience a profound shift in
				flexibility, inner stability and strength through reflection, live
				feedback, and community support
				<br />&#127800;<br />
				Details<br /> 12 Live Yoga Classes every Tue, Wed, Thu<br />
				Master Half Primary Sequence <br />
				Philosophy themed classes <br />
				Reflection Questions after every class<br />
				10 Mini-lectures on Yoga Philosophy <br />
				Group Discussions on their relevance to daily life
				<br />&#127800;<br />
				Come intrigued, leave integrated. 🙏
			</p>
		</section>
		<Capsule client:visible />
		<section class="ellipse grid justify-items-center py-10 gap-y-6">
			<h1>How it works</h1>
			<p class="text-center">
				DATES: September 13 - October 13,<br />
				TIMES: Every Tue, Wed and Thurs<br />
				FORMAT:15 live training sessions over 5 weeks<br />
				CAPACITY:10 students<br />
			</p>
			<Box />
			<Box />
			<Button />
		</section>
		<section class="grid justify-items-center content-center gap-y-6 mx-4">
			<h1 class="text-center">Yoga, why?</h1>
			<p class="mx-4 text-center">
				Practicing Yoga builds self-disicpline, and this brings order
				into your entire life
				<br /><br />
				Practicing Yoga helps you create a lifestyle that encourages you
				to eat and sleep well - this makes you feel more energetic in your
				daily life
				<br /><br />
				Practising yoga teaches you how to cope with failures and setbacks
				on a regular basis – this turns you into a braver person so you can
				take risks and accomplish greater things in life
				<br /><br />
				By practiciing yoga, you become way more patient
				<br />
				This helps you set bigger goalas, and makes you a better person
			</p>
			<p class="underline">read more...</p>
		</section>
		
		<Footer />
	</main>
</Layout>

<style>
	.ellipse {
		background-image: url("../images/bg_ellipse.svg");
		background-position: center;
		background-size: cover;
	}
</style>
