---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
import "@fontsource/questrial";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="m-auto mt-16">
		<slot />
		<style is:global>
			@font-face {
				font-family: "GilroyExtraBold";
				src: url("/fonts/Gilroy-ExtraBold.otf") format("opentype");
				font-weight: extra-bold;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: "GilroyLight";
				src: url("/fonts/Gilroy-Light.otf") format("opentype");
				font-weight: light;
				font-style: normal;
				font-display: swap;
			}

			h1 {
				font-family: "GilroyExtraBold", sans-serif;
				font-size: 2.25rem;
				text-transform: uppercase;
				letter-spacing: 0rem;
			}
			h3 {
				font-family: "GilroyExtraBold", sans-serif;
				font-size: 1.25rem;
				letter-spacing: 0.03em;
				line-height: 112%;
			}
			h4 {
				font-family: "GilroyLight", sans-serif;
				font-size: 1rem;
				line-height: 112%;
				letter-spacing: 0.03em;
			}
			.custom_underline {
				background-image: url("/underline.svg");
				background-position: 50% 80%;
				background-size: auto 16px;
				background-repeat: repeat-x;
			}
			.custom_underline_small {
				background-image: url("/underline.svg");
				background-position: 50% 80%;
				background-size: auto 6px;
				background-repeat: repeat-x;
			}

			.tooltip span {
				display: none;
				position: absolute;
				color: #000;
				background: #fff;
				padding: 5px;
			}
			.tooltip {
				position: relative;
			}
			.tooltip:hover span {
				display: block;
				z-index: 10;
				text-align: center;
				border: 1px solid #000;
				width: 200px;
			}
			p {
				font-family: "Questrial", sans-serif;
			}
		</style>
	</body>
</html>
